[2022-07-05 12:10] kensoh commented on #1251
Oh that is a nice automation to have. Can you share how does it run? I think by default running the positive_test.tag will trigger visual automation, but on the cloud how would the launching of SikuliX process work properly without a display?

[2022-07-05 13:37] ruthtxh commented on #1253
Hi @rajateshr for java can you try using the Amazon Coretto OpenJDK as per the installation instruction here?
https://tagui.readthedocs.io/en/latest/setup.html#windows

[2022-07-05 15:26] kensoh commented on #1251
I see, got it. Thanks Ruth, for sharing this solution! :)

[2022-07-05 21:23] kensoh commented on #1253
Adding on @ruthtxh, @rajateshr, this issue you are asking is about using SikuliX API in Java programming language. This has nothing to do with TagUI and @rajateshr should raise an issue at SikuliX GitHub repo instead to find a solution.

[2022-07-06 05:30] ruthtxh opened #1254 "Excel Step string of numbers with leading 0 outputs as number without leading 0 - fixed"
Source: Telegram group chat (https://t.me/rpa_chat/14086)

[2022-07-06 06:15] ruthtxh commented on #1252
Hi @kensoh noted on the trader account issue, we are looking into this.
We are also looking into the possibility of changing the group publisher account to an internal group instead of the current external group (tagui-rpa@googlegroups.com), I will let you know if I require any information from you. Thanks!

[2022-07-06 08:12] kensoh commented on #1252
Sure! Let me know if any info or action required from my side :)

[2022-07-08 01:28] ruthtxh commented on #1252
Hi @kensoh , we are republishing the chrome extension with a new publisher account that is tied to AISG instead and as such we will track the downloads from the new source. Will link it up when it is ready, thanks!

[2022-07-08 10:59] kensoh commented on #1252
Oh I see, the tagui-rpa@googlegroups.com is already tied to AISG and is created by Najib. I assume you meant that there is a new one that maybe ends with @aisingapore.org. I got the following email from Google saying that the app will be deleted.

Fyi, to see if you would want to publish the new extension first successfully, before deleting the old one, and finally mapping all links to the new one

[2022-07-09 10:01] #1233 closed

[2022-07-09 10:01] #1234 closed

[2022-07-09 10:01] #1235 closed

[2022-07-09 10:02] #1236 closed

[2022-07-09 10:02] #1241 closed

[2022-07-09 10:02] #1244 closed

[2022-07-09 10:02] #1248 closed

[2022-07-09 10:02] #1249 closed

[2022-07-09 10:03] #1251 closed

[2022-07-09 10:03] #1253 closed

[2022-07-09 10:07] kensoh commented on #1228
Fyi @ruthtxh closing some TagUI issues that are around for a while without further inputs.

Probably the last time I do this before starting work. Hi @lookang :wave:, hope this issue has been solved!

[2022-07-09 11:14] twinyk commented on #1233
python 和 js 就够了， 低端货

在 2022-07-09 18:01:37，"Ken Soh" ***@***.***> 写道：

Closed #1233 as completed.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-10 03:36] lookang commented on #1228
In general, the SikuliX works on personal computer.

But on while of government laptop, it seems SikuliX is blocked.

I have evolved my TagUI scripts to be semi automated where I am on the WOG laptops.

Maybe it is impossible to debug until I try on my colleague wog laptop when I transfer my files over to him.

[2022-07-10 08:17] kensoh commented on #1228
Thanks Lawrence for sharing these! The issue should be reopened. Does the clicking always happen with a specific offset away from where it should click?

I'm thinking of something like this, use hover to move the mouse then use mouse_xy() function to get the coordinates. After that, add the offset before doing a click (x, y)

Other ideas could be always running the browser maximised so that automa

[2022-07-12 10:40] Dj0672 opened #1255 "Error when copy excel data with empty array values to other workbook - fixed"
Hi Ruth,

I have data range in Excel from A3:D9 which content value. If I try to copy from A3:D10 (all data in row 10 is empty) to other workbook, Tagui will throw en error : undefined is not an object (evaluating 'excel_result[row][col].toString'). Please kindly check.

Thanks.

[2022-07-12 15:18] MaheshPMane opened #1256 "How to get popup answer - some tips"
Hi
Pl. Check below code and guide

vision output_sikuli_text(popAsk('Exit'))
input_result = fetch_sikuli_text()

Flow gets hang while executing last command.

[2022-07-12 15:39] marcelocecin commented on #1256
https://github.com/kelaberetiv/TagUI/issues/908

[2022-07-13 03:09] ruthtxh commented on #1255
Hi @Dj0672

I tried to replicate your error but was unable to.

Can you provide more information so we can look into it?
1. What version of TagUI are you running on? You can do so by running `tagui` in the command prompt/terminal.
2. What OS are you on?
3. Can you share more information on a small sample dataset, TagUI script, and automation output... similar to the one I have attached below. Than

[2022-07-13 03:26] ruthtxh commented on #1256
Hi @MaheshPMane
You can use the vairable `ask_result`
For more information check out the docs [here](https://tagui.readthedocs.io/en/latest/reference.html#ask).

[2022-07-14 09:28] ruthtxh commented on #1255
@Dj0672 I have added the fix for the above, can you update TagUI by running the following command `tagui update` and let me know if there's any issues?

[2022-07-14 09:32] ruthtxh commented on #1252
@kensoh I see, I have already feedback to Najib about the group publisher. I've updated the link to the new extension [here](https://chrome.google.com/webstore/detail/tagui-rpa-web-recorder/gjdajlcpkkjgjjokkekiniengajiamnk/) and yes some codes had to be change to suit the new manifest format as well as the api, will update the backup source code on github soon.

[2022-07-14 10:24] kensoh commented on #1252
Oh @ruthtxh nice republishing the extension, making it compliant and all the styling touches!

Since I've known you, you have been great at tackling on new challenges and tools. Thumbs up 👍🏻👍🏻

[2022-07-14 11:07] cenwenchu opened #1257 "read in for loop, not correct - try this"
code:

for (n=1; n<=2; n++)
	if exist('(//div[@class="daren-card"])["n"]')
	{

		read (//div[@class="daren-card"])['n'] to total

		echo `total`

		read (//div[@class="daren-card"])[1] to total1
		echo `total1`
		read (//div[@class="daren-card"])[2] to total1
		echo `total1`

		echo `n`
	}
	else
	{
		break
	}

----- run result :
read (//div[@class="daren-card"])['n'] to total
原来是七七🎈服饰内衣带过小店相似商品31万

[2022-07-15 03:09] ruthtxh commented on #1257
Hi @cenwenchu you can try the following syntax, do take note of the difference in quotation marks and backticks.
[code]

[2022-07-15 06:06] Dj0672 commented on #1255
Thanks Ruth. It is working now.

[2022-07-15 07:42] kensoh commented on #1187
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:42] #1187 closed

[2022-07-15 07:43] kensoh commented on #1158
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:43] #1158 closed

[2022-07-15 07:43] kensoh commented on #1153
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:43] #1153 closed

[2022-07-15 07:43] kensoh commented on #1151
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:43] #1151 closed

[2022-07-15 07:44] kensoh commented on #1140
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:44] #1140 closed

[2022-07-15 07:44] kensoh commented on #1137
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:44] #1137 closed

[2022-07-15 07:44] kensoh commented on #1134
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:44] #1134 closed

[2022-07-15 07:44] kensoh commented on #1133
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:44] #1133 closed

[2022-07-15 07:45] kensoh commented on #1121
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:45] #1121 closed

[2022-07-15 07:45] kensoh commented on #1120
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:45] #1120 closed

[2022-07-15 07:46] kensoh commented on #1118
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:46] #1118 closed

[2022-07-15 07:46] kensoh commented on #1116
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:46] #1116 closed

[2022-07-15 07:46] kensoh commented on #1113
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:46] #1113 closed

[2022-07-15 07:46] kensoh commented on #1110
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:46] #1110 closed

[2022-07-15 07:47] kensoh commented on #1108
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:47] #1108 closed

[2022-07-15 07:47] kensoh commented on #1099
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:47] #1099 closed

[2022-07-15 07:47] kensoh commented on #1098
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:47] #1098 closed

[2022-07-15 07:47] kensoh commented on #1093
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:47] #1093 closed

[2022-07-15 07:48] kensoh commented on #1087
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:48] #1087 closed

[2022-07-15 07:48] kensoh commented on #1081
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:48] #1081 closed

[2022-07-15 07:48] kensoh commented on #1073
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:48] #1073 closed

[2022-07-15 07:49] kensoh commented on #1071
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:49] #1071 closed

[2022-07-15 07:50] kensoh commented on #1070
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:50] #1070 closed

[2022-07-15 07:50] kensoh commented on #1062
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:50] #1062 closed

[2022-07-15 07:50] kensoh commented on #1060
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:50] #1060 closed

[2022-07-15 07:50] kensoh commented on #1019
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:50] #1019 closed

[2022-07-15 07:51] kensoh commented on #956
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:51] #956 closed

[2022-07-15 07:51] kensoh commented on #946
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:51] #946 closed

[2022-07-15 07:53] kensoh commented on #941
Closing since this change has made its way into the latest packaged release.

[2022-07-15 07:53] #941 closed

[2022-07-15 08:02] kensoh commented on #1254
Hi @ruthtxh I've closed the feature / bug issues which are in latest packaged release. For this issue, if you close, it will not show up in the following link (from docs installation page) -

https://github.com/kelaberetiv/TagUI/issues?q=is%3Aissue+is%3Aopen+in%3Atitle+fixed+OR+done+

[2022-07-15 08:02] kensoh commented on #1255
Hi @ruthtxh I've closed the feature / bug issues which are in latest packaged release. For this issue, if you close, it will not show up in the following link (from docs installation page) -

https://github.com/kelaberetiv/TagUI/issues?q=is%3Aissue+is%3Aopen+in%3Atitle+fixed+OR+done+

[2022-07-15 21:44] kensoh commented on #946
Hi @blueberry-byte I just saw your message above. Do you still need the solution? Will require modifying some files of the TagUI engine that came with the Python rpa package. You can raise an issue here if you are still looking for the answer - https://github.com/tebelorg/RPA-Python/issues

[2022-07-15 21:50] kensoh commented on #1007
Closing issue since no further updates / inputs, and the VS Code extension and credit are already linked from readme.

[2022-07-15 21:50] #1007 closed

[2022-07-15 21:52] kensoh commented on #943
Hi @ruthtxh I'm closing some issues on features / bugs which have already made their way into the packaged release.

For this issue I didn't close because I'm not sure if you still have outstanding action to complete before closing.

[2022-07-15 21:56] kensoh commented on #1089
Hi @ruthtxh I'm considering closing this for now since I don't have the bandwidth to add this now. If you are adding, the gist is creating a desktop recorder and automate creating the images for visual automation from user's clicks and keystrokes.

Ie need some image process logic (or ML of common UI elements as fallback) to know how far from the click point to crop the screen to use as the elemen

[2022-07-16 02:03] lookang commented on #1153
Interesting idea @kensoh .
This will help users not edit the tag file and just use command prompt with changing inputs.

Thanks 🙏

[2022-07-17 02:05] kensoh commented on #1153
Thanks @lookang for your support always! Yes this is important, and is a natural feature of command-line tools, to easily run differently base on user different parameters during running.

[2022-07-18 01:55] cenwenchu commented on #1257
thanks @ruthtxh , i made a low level mistake :( ,  [`n`] replace  ['n']，it‘s ok.

[2022-07-18 01:55] #1257 closed

[2022-07-19 06:29] cenwenchu opened #1258 "Problem in accessing iframe - try this"
<img width="1163" alt="截屏2022-07-19 下午2 22 57" src="https://user-images.githubusercontent.com/80797/179680271-bbdf0517-bb07-4f81-a329-feb7058c75d9.png">

i can access "  click //*[@id="frame_list"]/iframe[2] "

<img width="1184" alt="截屏2022-07-19 下午2 23 43" src="https://user-images.githubusercontent.com/80797/179680566-7033184b-c526-4022-8da2-567fb3d08f33.png">

but can't access iframe any element

[2022-07-19 09:06] cenwenchu opened #1259 "double for loop , can't run - try this"
for (n=1; n<=20; n++)
	if exist('//*[@id="guide-querySupplierShelvesItem"]/div/div[2]/div/div/div[1]/div[2]/table/tbody/tr[' + n + ']')
	{

		read (//*[@id="guide-querySupplierShelvesItem"]/div/div[2]/div/div/div[1]/div[2]/table/tbody/tr)[`n`] to total
		echo `total`

		rows = count('//*[@id="guide-querySupplierShelvesItem"]/div/div[2]/div/div/div[1]/div[2]/table/tbody/tr[`n`]/td')

[2022-07-19 10:19] marcelocecin commented on #1258
https://tagui.readthedocs.io/en/latest/reference.html?highlight=frame#frame

[2022-07-19 14:40] ruthtxh opened #1260 "Wrong value when writing excel data with leading 0 - fixed"
Source: Telegram Chat (https://t.me/rpa_chat/14225)

[2022-07-19 14:42] ruthtxh commented on #1258
Hi @cenwenchu yes you can use the frame step like this, with the following steps that occur within the frame indented:

[code]

[2022-07-20 01:49] cenwenchu commented on #1258
@ruthtxh homeframe has no name, id = home; second frame has no name and no id. use frame block need iframe name. how can i do ?

[2022-07-21 01:49] ruthtxh commented on #1259
Hi @cenwenchu
Can you try the following? I have changed the code blocks to the TagUI indentation for consistency.
[code]

[2022-07-21 02:10] ruthtxh commented on #1258
Hi @cenwenchu
If you want to access the frame without id/name you can use javascript to inject the id/name attribute and use frame step. For example:
[code]

[2022-07-21 02:12] ruthtxh commented on #1254
Reopening issue for visibility till next release due to above [reason](https://github.com/kelaberetiv/TagUI/issues/1255#issuecomment-1185286121).

[2022-07-21 08:01] cenwenchu opened #1261 "excel will be reopened, how can i close & save ,after write - pending details"
<img width="1441" alt="image" src="https://user-images.githubusercontent.com/80797/180161587-57658bd5-f9e9-49aa-8b67-e3f2581c1fd7.png">

code：
[test.xlsx]Sheet1!A1 = [['中文', 'Test2', 9], [4, 5, 6]]
[test.xlsx]Sheet1!A2 = [['中文', 'Test', 9], [4, 5, 6]]
wait 3

[2022-07-22 10:01] #1258 closed

[2022-07-22 10:01] #1259 closed

[2022-07-22 10:03] ruthtxh commented on #1261
Hi @cenwenchu can you share more on what do you mean by excel will be reopened?
Do you have any instance of excel opened before you run TagUI?
Also, are you on windows or macOS?

I tried running your code and am able to write to excel which saves the value and closes the application after the run.

[2022-07-23 21:33] pp082 commented on #1184
Hi!!

Context: in before steps download a file. The file name contains spaces and cant move with the command
run mv `[pathFile_ini]` `[pathFile_fin]`
where pathFile_ini and pathFile_fin are variables containing the full path.

for this reasons i need change name the filename.

I need run the next command but the execution is stuck
[code]

thats is worked on terminal, but I when put in the tagui co

[2022-07-24 02:42] pp082 opened #1262 "how to move file with spaces - try phantomjs fs module"
Hi!!

I  use run command to move file like the example. `pathFile_ini` and `pathFile_fin` are variables containing the full path.
[code]
When the file download (pathFile_ini) contains spaces in the name, the move don´t work.

for this reasons i need change name the filename.

I need run the next command but the execution is stuck
[code]
thats is worked on terminal, but I when put in the tagui comm

[2022-07-25 01:29] ruthtxh commented on #1262
Hi @pp082
You can try using phantomjs fs module. https://phantomjs.org/api/fs/method/move.html
The following worked for me:
[code]

[2022-07-25 01:32] ruthtxh commented on #1184
Hi @pp082 I believe you have asked the same question here https://github.com/kelaberetiv/TagUI/issues/1262, will follow up there.

[2022-07-25 04:06] cenwenchu commented on #1261
@ruthtxh thanks,i run program on macOS, and code only as below:
[test.xlsx]Sheet1!A1 = [['中文', 'Test2', 9], [4, 5, 6]]
[test.xlsx]Sheet1!A2 = [['中文', 'Test', 9], [4, 5, 6]]
wait 3

run first line , will open chrome and open excel,
run second line, will info me ,it will reopen excel (but first line excel not save), so will alert "excel not save, reopen will lose content".

so i don't know how to op

[2022-07-26 04:48] ruthtxh commented on #1261
@cenwenchu what version of TagUI are you running on?

I tested your code on TagUI version 6.113 and it is able to programmatically open, save and close the file with the data written to it. Hence, I am unable to replicate your issue.

If you're not running on the latest version of TagUI, you can do `tagui update` in your terminal to update. If error still persists, you may look into the following:

[2022-07-27 01:46] cousin-wang opened #1263 "cannot find element ,use type [html path]"
https://mail.qq.com/

Please look at the picture.

<img width="519" alt="C5E83A14-EAC9-4a10-8735-4FE9E7F9229F" src="https://user-images.githubusercontent.com/60058463/181143172-bd7519bd-e0df-479a-8961-c0f9e2855cb8.png">
<img width="518" alt="lQLPJxaIpOOFRs3M9c0EC7Dsc1rvG1eRiALg8amAQCwA_1035_245" src="https://user-images.githubusercontent.com/60058463/181143176-556723b5-9c0a-49db-a183-0d7daf3f5a52.

[2022-07-27 04:02] ruthtxh commented on #1263
Hi @cousin-wang

in that case you can read the src of the iframe and access it directly to login. For example:
[code]

[2022-07-27 05:40] cousin-wang commented on #1263
thank you, your example   can be used

Why doesn't using lable( Frame) work ? As I write
@ruthtxh

[2022-07-27 09:44] marcelocecin commented on #1263
[code]

[2022-07-28 11:11] cenwenchu opened #1264 "run TagUI with -h , error"
error msg as below:

click //*[@id="fxg-pc-header"]/div[1]/div[1]/div/div[2]/div[2]/div/div[2]/div
ERROR - cannot find //*[@id="fxg-pc-header"]/div[1]/div[1]/div/div[2]/div[2]/div/div[2]/div
/usr/local/bin/tagui: line 459:  1420 Terminated: 15          "$tagui_browser_command" --user-data-dir="$TAGUI_DIR/chrome/tagui_user_profile" $chrome_switches $window_size $headless_switch $no_sandbox_switch >

[2022-07-29 01:18] cousin-wang opened #1265 "document.querySelector set attribute (id /style) exception"
Hello @kensoh i hope you are fine.

all  is  error
document.querySelector('#toAreaCtrl .addr_text').style.width="100px";
document.querySelector('#toAreaCtrl .addr_text').setAttribute("id","wwww")

<img width="527" alt="微信截图_20220728171657" src="https://user-images.githubusercontent.com/60058463/181662862-076e2529-00c8-4b8a-ac1d-4d2f571a4bd5.png">
<img width="766" alt="微信截图_20220728172219" src="htt

[2022-07-29 01:59] ruthtxh commented on #1264
Hi @cenwenchu could it be that the page is rendered differently in headless mode such that the xpath cannot be found?

You can try this suggestion [here](https://github.com/kelaberetiv/TagUI/issues/919#issuecomment-768766255) to check the html of the headless page.

[2022-07-29 03:22] ruthtxh commented on #1265
Hi @cousin-wang

Seems like your method of identifying the element is not working. The following works for me on this sample website and identifying the element with queryselector.
[code]

Do you have the website for us to inspect?

[2022-07-29 03:48] cousin-wang commented on #1265
thanks @ruthtxh

the  flellowing code  is ths same  element.  the  first is not working.
dom  document.querySelector('#s_btn_wr .btn').style.color="#ab1313";
document.querySelector('#su').style.color="#ab1313"

i  use querySelector('#s_btn_wr .btn').id that  is is not working/exception . but I have no [id] ,How to do?

http://www.baidu.com/
dom  document.querySelector('#su').id="12344";
wait 10

[2022-07-29 09:20] cousin-wang commented on #1265
<img width="731" alt="微信截图_20220729171726" src="https://user-images.githubusercontent.com/60058463/181727534-21a33dfe-110a-460d-8938-c5021ef4c93b.png">

because input   donot have [id]
thranks  @ruthtxh

[2022-07-30 08:51] kensoh commented on #1256
Adding on, @MaheshPMane if what you are looking for is doing a popup on the desktop instead of web-browser, the link that @marcelocecin sent would be a working example. @ruthtxh would be one for asking a popup on the browser.

[2022-07-30 08:54] kensoh commented on #1262
Thanks @pp082 for positive feedback! Alternatively, you can create a bash shell script with your commands and logic, then use TagUI `run` step on your shell script. The run step can't replicate exactly complex shell script commands because it is meant more for calling a particular command, rather than chaining complex commands. That would be done better in shell scripts or Windows batch files, the

[2022-07-30 08:57] kensoh commented on #1263
@cousin-wang, if you adapt @ruthtxh working code and combine with using frame step, does it work for you?

[code]

But yeah, if you are ok with visual automation, @marcelocecin's solution will be easiest to implement and understand.

[2022-07-30 08:59] kensoh commented on #1264
Adding on, if it is necessary to run in headless mode but hard to figure out the XPaths, you can try out solutions like Xvfb to create virtual frame buffer display. And run Chrome in the normal visible mode. That should render the webpage accurately.

[2022-07-30 09:02] kensoh commented on #1265
Hi @cousin-wang thanks for using TagUI, and of course @kangyiwen for promoting TagUI in China!

I'm good, I've moved to London and started work there. @ruthtxh is taking over my work with TagUI.

And I trust that she is ready to bring the project to the next level! Beyond what I can achieve.

[2022-07-30 09:05] kensoh commented on #1265
PS - Btw @ruthtxh, if AI Singapore wants to collapse TagUI repo into aimakerspace, that is theoretically doable. By right, GitHub will map and redirect old URLs pointing to kelaberetiv to aimakerspace. There is probably going to be some rough unexpected situations for migrating over when you will only know when you do it. But just want to highlight that it is doable. I notice that kelaberetiv org

[2022-08-01 01:52] austin-millan opened #1266 "HTTP / HTTPS / SOCKS Proxy for Chrome/Edge"
# About

I understand from your workaround comment posted [here](https://github.com/kelaberetiv/TagUI/issues/162#issuecomment-516743499) that you are not interested in enabling "special chrome options" besides what's necessary for RPA.

Yet there are a number of users (myself included) where proxying requests are a necessary step in automation of browsers:
- https://github.com/kelaberetiv/TagUI/is

[2022-08-01 03:27] pp082 opened #1267 "Problems with configuration python - try creating symlink for python/python3"
hi!!!

I read the issue [765](https://github.com/kelaberetiv/TagUI/issues/765) and there is a comment asociate sis https://github.com/kelaberetiv/TagUI/issues/765#issuecomment-603685328.

I think I have the same problems with the configuration, but I don't know how I can solve this.

I create a tag file test02.tag

[code]

[code]
but the execution was stuck  :(

When I install python with brew com

[2022-08-01 03:48] ruthtxh commented on #1267
Hi @pp082 you probably need to create a symbolic link to point the python command to python3. There are some suggestions in this [external thread](https://stackoverflow.com/questions/18419500/how-to-make-mac-os-use-the-python-installed-by-homebrew) you can try.

[2022-08-01 03:52] pp082 commented on #1262
You have all reason with that

Maybe Python is better :)

for now  I will try  use this https://github.com/kelaberetiv/TagUI/issues/1262#issuecomment-1193456556  with a variable

[code]

[2022-08-01 04:47] pp082 commented on #1267
@ruthtxh

in the terminal I used

[code]
Then

user1@M1 ~ %  tagui /Users/tagui/flows-M1Pro/RPA-Tagui/test02.tag -n

START - automation started - Mon Aug 01 2022 00:43:30 GMT-0400 (-04)
Hello World
py a=1
b=5
c=a+b
print(c)
6

FINISH - automation finished - 0.5s

Excelent !!! 👍

Thanks a lot !!

[2022-08-01 04:47] #1267 closed

[2022-08-02 02:12] ruthtxh commented on #1265
Hi @cousin-wang

I'm not sure which element you're looking for on the page, because when I do a search for that id/class in the dev tools elements it does not point to a particular element.

Here's an example of changing the background color of the search button on baidu.

To get the class of the button, I inspected the element by right clicking. For instance:
![image](https://user-images.githubus

[2022-08-02 02:15] ruthtxh commented on #1265
Hi @kensoh, thanks for the suggestions! We are actually migrating from both kelaberativ and aimakerspace to a new github org soon.

[2022-08-02 06:31] kensoh commented on #1265
Oh sounds exciting!!

For my side, I have a links to this repo from my website tebel.org, and from Python rpa package readme.

If you remember to, just ping or @me when you have migrated. I'll update the links if they break.

[2022-08-03 02:24] ruthtxh commented on #1266
Hi @austin-millan thanks for raising this, our team has reviewed internally and there's no plans to include this feature at the moment due to the following reasons:
1) low impact to majority of user base
2) there are easy to implement workarounds

[2022-08-03 08:55] limengtaylor opened #1270 "dom in the iframe steps"
![image](https://user-images.githubusercontent.com/36980796/182567113-8bc16235-6c29-4284-9473-8604b13187dd.png)
dom in the iframe steps,in fact ,the scope  is the outer document no in the iframe

[2022-08-03 21:47] kar-pat commented on #850
I can't run commands of the type r.click('abc.png') or r.click('path/abc.png'). I am running rpa on an M1 (2020) mac.

Things I have already tried:

- Downsizing the image to 72 ppi
- Test given here https://tagui.readthedocs.io/en/latest/setup.html
- reinstalling Correto
- Enabled accesibility to terminal and AEServer in Security and Privacy(Here Java doesn't show up for me, but AEServer does)
-

[2022-08-03 22:57] kensoh commented on #850
Install PHP manually this way - https://github.com/tebelorg/RPA-Python/issues/335#issuecomment-989470056

Mac started removing PHP in newer releases of macOS. Inferring from your rpa_python.log error. Copying @ruthtxh

[2022-08-04 09:01] limengtaylor opened #1272 "how to use three iframe"
![image](https://user-images.githubusercontent.com/36980796/182807600-0afb8c13-c88c-4c27-a579-b0dad69d9320.png)
when the web have 3 or more iframe ,how to get the dom to use click,hover,upload;

[2022-08-04 16:15] ruthtxh commented on #1270
Hi @limengtaylor you can identify the iframe element first, then find the element you want. There is an example [here](https://www.w3schools.com/howto/howto_js_element_iframe.asp)

[2022-08-04 16:17] ruthtxh commented on #1272
Hi @limengtaylor what is the error message you're getting? Are you able to share the website so we can take a look please?

[2022-08-05 01:41] limengtaylor commented on #1272
![image](https://user-images.githubusercontent.com/36980796/182982259-6930f978-d9b1-49c0-b8b7-2096f0f07b97.png)
The picture is the error message;
the element in the third iframe can't be finded;
Th the function Chrome.withFrame,there are mainframe_context and subframe_context,if the webpage hava the iframe more 2 level，how to click the elements?
![image](https://user-images.githubusercontent.com/3

[2022-08-05 01:57] shanyu-e commented on #603
this can help in windows server 2012 r2

[2022-08-05 02:01] limengtaylor commented on #1270
Thanks you,i have find the element,but when the iframe has father iframe and grandfather iframe,the way to get element will be complicated,like this picture
![image](https://user-images.githubusercontent.com/36980796/182985660-bf282834-81b0-4d81-9e14-0f291355faae.png)

[2022-08-07 18:30] kar-pat commented on #850
I have already installed php 8.1.8. using Homebrew. Still doesn't work. Also, java doesn't appear for me in Privacy>Accessibility  as mentioned here https://github.com/tebelorg/RPA-Python/issues/78
but terminal and AEServer does. Could this have something to do with it?

[2022-08-07 22:09] kensoh commented on #850
Install Java from https://aws.amazon.com/corretto choose OpenJDK v8 (64-bit).

Try typing `php -v` from your Mac terminal and see what happens. Mine works with v8.1.1.

[code]

[2022-08-10 03:17] limengtaylor opened #1273 "snap (0,0)-(100,100) to snap.png can't get snap.tag - install OpenJDK and reinstall TagUI"
![image](https://user-images.githubusercontent.com/36980796/183802654-42a066f4-5536-4541-b1a8-db54914f4f54.png)
![image](https://user-images.githubusercontent.com/36980796/183802690-0aad39e8-0230-46cf-8cbf-eafd92ed5fef.png)
![image](https://user-images.githubusercontent.com/36980796/183802781-e0292ad6-10fd-4156-9d36-56d1e03de685.png)

[2022-08-11 02:31] ruthtxh commented on #1273
Hi @limengtaylor can you share the tagui log in tagui\src\tagui.sikuli? It should look something like this:
![image](https://user-images.githubusercontent.com/40910744/184055386-5ec3a54a-6ea4-4154-9f13-b406214b1517.png)

[2022-08-11 02:35] ruthtxh commented on #1272
Hi @limengtaylor currently there is only support for 2 layers of iframes, can you share your website so we can see if there is a workaround for your scenario?

You can try [this](https://github.com/kelaberetiv/TagUI/issues/1129#issuecomment-966355165) and see if it works for you,  by accessing the first iframe via the url directly.

[2022-08-11 02:36] ruthtxh commented on #1270
Hi @limengtaylor we can continue the discussion of 3 iframes in this thread https://github.com/kelaberetiv/TagUI/issues/1272!

[2022-08-12 02:03] limengtaylor commented on #1273
the log is null

the log is null,i don't know the reason;

[2022-08-12 02:06] lookang commented on #1273
I helped my colleague before on this issue, his reason is didn't install java
https://tagui.readthedocs.io/en/latest/setup.html
[Install OpenJDK for Windows](https://corretto.aws/downloads/latest/amazon-corretto-8-x64-windows-jdk.msi)

[2022-08-12 02:40] limengtaylor commented on #1273
after install OpenJDK，
![image](https://user-images.githubusercontent.com/36980796/184274936-ca2a5e33-f8a6-4793-aa7a-2f591648666c.png)

[2022-08-12 02:40] limengtaylor commented on #1273
thanks

[2022-08-15 02:36] ruthtxh commented on #1273
Hi @limengtaylor for the unable to access jarfile error, can you try reinstalling TagUI by copying over a fresh copy of the installation src files from [here](https://github.com/kelaberetiv/TagUI/releases/download/v6.110.0/TagUI_Windows.zip).

[2022-08-15 09:24] limengtaylor commented on #1273
Thank you! now, snap ()-() to snap.png can get snap.png

[2022-08-15 09:41] limengtaylor opened #1274 "keyboard [ctrl]v pastes in address bar - set textbox in focus using visual automation"
https://www.wangeditor.com/demo/index.html
wait 2
click //*[@id="w-e-element-0"]
clipboard('some text')
keyboard [ctrl]v
wait 2
snap page to editor.png
![image](https://user-images.githubusercontent.com/36980796/184613231-0381e2a2-ec6a-45dd-889d-205889d3b976.png)

[2022-08-16 08:27] limengtaylor commented on #1274
i find the reason is that 'the web url is selected,the focus is on the web address bar'

[2022-08-16 08:32] ruthtxh commented on #1274
Hi @limengtaylor
You have to set the textbox in focus first by doing a visual automation click before you use keyboard step.
First you have to take a snapshot of the textbox and put in the same folder as your flow file. Then do:
[code]

sample of textbox.png:
![image](https://user-images.githubusercontent.com/40910744/184834754-393dc978-cbf3-40f4-92d0-2e9a72766d65.png)

FYI the visual automation c

[2022-08-16 09:20] limengtaylor commented on #1274
Thanks ,it can solve the problem when there is a input 或 textarea,but there are some text-editor like TinyMC,Ckeditor,wangeditor,it doesn't has input or textarea.

[2022-08-17 08:24] ruthtxh commented on #1265
Hi @kensoh FYI we have migrated our repo to the new org https://github.com/aisingapore/TagUI/. The old link should redirect to the new one too.

[2022-08-17 08:59] kensoh commented on #1265
Thanks @ruthtxh I happen to see, and yes the links from RPA for Python GitHub page redirect correctly to the new repo =)

[2022-08-17 09:05] kensoh commented on #1265
(I've updated the links there and on tebel.org anyway, and verified the links to aisingapore's org work)

[2022-08-17 09:15] kensoh commented on #1265
Btw @ruthtxh, I notice that all AISG folks show their membership in aisinapore org as private. This is the default GitHub setting (private). That means anyone visiting aisingapore org GitHub page will not see its members. It also means that people viewing the staff's GitHub profiles will not see the aisingapore logo there.

Not sure if this is intended or not being aware. Fyi, in case it is due to

[2022-08-17 09:17] kensoh commented on #1265
You can test by visiting this link in private tab of browser - https://github.com/aisingapore

Private/Public setting can be changed individually at - https://github.com/orgs/aisingapore/people

[2022-08-18 03:47] limengtaylor opened #1275 "click image in different Image resolution,sometimes it can't find the image"
just like 'click table.png',when i reset the Image resolution,it can't find the table.png

[2022-08-18 05:16] ruthtxh commented on #1275
Hi @limengtaylor the image should be 72ppi for it to match.

[2022-08-18 07:17] limengtaylor commented on #1275
becuase i need to choose a file， i use screenshot to click it . But i use PS to get 72ppi Image ,it still can't be finded when i change the Image resolution of Computer

[2022-08-19 02:58] ruthtxh commented on #1275
Hi @limengtaylor some other things you can try is to change the windows zoom and browser zoom to 100%.
Just to check, visual automation works on your computer?

[2022-08-19 03:29] limengtaylor commented on #1275
No，it doesn't work。
i want know  how the visual automation identify the Image.

[2022-08-21 12:51] vecinveni commented on #1095
Hello community, I am encountering an issue as @hmtan09 , can I check how do I go about solving this issue?

[2022-08-22 03:37] ruthtxh commented on #1095
Hi @vecinveni you can check if the parent folder is there?

[2022-08-23 02:34] limengtaylor opened #1276 "how to use `upload` in a iframe"
![image](https://user-images.githubusercontent.com/36980796/186056361-31e3c3aa-47d5-4c9f-8d20-38ad2b320561.png)

[2022-08-23 03:42] limengtaylor opened #1277 "how to click 'rate' and 'slider' in tagui - try this"
https://ant.design/components/rate-cn/
![image](https://user-images.githubusercontent.com/36980796/186064040-4d3a14c0-d439-42f5-9047-e64f296a676c.png)
how to spot it's half or not when i want to click?
https://ant.design/components/slider-cn/
![image](https://user-images.githubusercontent.com/36980796/186064611-6e483578-6acf-432d-98e4-ed4bcc2b645a.png)
how to set different value by click in tagui

[2022-08-23 06:17] ruthtxh commented on #1275
Hi @limengtaylor is this a different machine? Seems like you are able to do visual automation from this issue https://github.com/aisingapore/TagUI/issues/1274. If it is the same machine, most likely the image resolution is not matching. Can you share more on which tool you used to take the snapshot?

[2022-08-25 07:28] ruthtxh commented on #1277
Hi @limengtaylor you can try this for the stars:
[code]

For slider you can try something like this:
[code]

[2022-08-29 04:13] ruthtxh commented on #1276
Hi @limengtaylor we are able to replicate that upload does not work in frame step, and we will look into this. Labelling as bug for now.

[2022-08-30 06:08] limengtaylor commented on #1272
I use 'dom'  made a three iframes tag,and how  to solve more than 3 iframes,4 iframes ,5 iframes,some old Intranet there are so many iframes.
https://www.antdv.com/components/button
wait 5
dom begin
var dom1 = document.querySelector('#header');
var frame1 = document.createElement("iframe");
frame1.setAttribute('id','mainFrame');
frame1.setAttribute('src','https://www.antdv.com/docs/vue/introduce-c

[2022-09-05 08:11] rjkothari opened #1278 "Reliability issue - use XPath for web elements, bring textarea to focus for keyboard commands"
I tried to use tagui on email client and found that 'click' command works sometimes and other times it clicks slightly away, giving unreliable results.
----------
https://abcd.managewoc.org:2096/
wait 2
// Look in tagui_local.csv in the flow's folder for a value for 'email' and find that element
// if tagui_local.csv doesn't exist, then look in tagui_global.csv in tagui/src folder
// and tries the

[2022-09-05 09:02] ruthtxh commented on #1278
Hi @rjkothari

Visual automation will click on the middle of the picture (log-in.png). Visual automation also depends on several parameters like machine/browser zoom setting, image resolution. For web elements, I would suggest you to use XPath instead of visual automation, for instance:
[code]
If for some reason you have to stick to visual automation, you can try setting the machine/browser zoom s

[2022-09-05 09:09] rjkothari commented on #1278
I tried using XPath, as you can see,. But, it gives syntax error:

Unexpected token "=" (seems to be in this line - read (\*@id=)

[2022-09-07 03:57] ruthtxh commented on #1278
Hi @rjkothari as mentioned in the comment above, you can try the XPath without the brackets.

[2022-09-07 07:25] rjkothari commented on #1278
Getting same error without brackets also.
===== first.tag =====
https://insl2.managedns.org:2096/
wait 2
// Look in tagui_local.csv in the flow's folder for a value for 'email' and find that element
// if tagui_local.csv doesn't exist, then look in tagui_global.csv in tagui/src folder
// and tries the same thing, so when the flow is run, it will become
// type Email Address as rajesh@intranetssl.n

[2022-09-07 07:38] ruthtxh commented on #1278
Hi @rjkothari

I think the error is due to the variable, not XPath.

Try removing the hyphen in the variable like this:
[code]

Also, FYI to echo the variable you have to wrap them in between backticks and not quotation mark. Backticks are at the top left hand corner of your keyboard `
[code]

[2022-09-07 11:20] rjkothari commented on #1278
Ok. It worked a bit. But, I'm unable to make X-Path click work. Only visual click is working properly. Either tagui is not able to 'click' or not able to find X-Path. See recent output below.

START - automation started - Wed Sep 07 2022 16:43:43 GMT+0530 (India Standard Time)
https://insl2.managedns.org:2096/ - Webmail Login

wait 2
type Email Address as rajesh@intranetssl.net
type Password as R@

[2022-09-08 03:07] ruthtxh commented on #1278
Hi @rjkothari first I hope this account you're sharing is a dummy or test account. Otherwise please remove the credentials asap.

I am not sure which "Request for the Free SecureNT Intranet SSL Certificate" do you intend to click because there are many similar text that appear on the screen such as the ones on the left like this.
![image](https://user-images.githubusercontent.com/40910744/18902182

[2022-09-08 06:09] rjkothari commented on #1278
Thanks for your help.

Regarding which request you wish to click, yes, you are right. I thought I will figure it out later.

Visual animation is not reliable. Sometimes it clicks in the centre of the image but most of the time it clicks slightly above on right side or outside the image. I made image bigger also but still same result. i would say it's not reliably working.

[2022-09-08 06:14] rjkothari commented on #1278
Also, for last 2 days I'm facing issue with my ISP because TagUI seems to make several unsuccessful login attempts before it manages to login correctly. They have blacklisted my IP several times due to these unsuccessful login attempts.

[2022-09-14 04:10] GarneshMike commented on #726
Hi Sifus,

My attempt to search a KEYWORD from a STRING using the IF ELSE function always return False if the KEYWORD is a variable (EXAMPLE 1).
But if I hardcode the KEYWORD, it works (EXAMPLE 2)

Anything that i missed.

// Tagui Block Starts - EXAMPLE 1

string = "this is a test"
filter = 'test'

echo String = `string`
echo Filter = `filter`

if string contain "`filter`"
	echo True
else
	echo F

[2022-09-14 04:13] GarneshMike opened #1279 "tagui v6.109 - IF ELSE with contain filter as variable is not executing as intended."
Hi Sifus,

My attempt to search a KEYWORD from a STRING using the IF ELSE function always return False if the KEYWORD is a variable (EXAMPLE 1).
But if I hardcode the KEYWORD, it works (EXAMPLE 2)

Anything that i missed.

// Tagui Block Starts - EXAMPLE 1

string = "this is a test"
filter = 'test'

echo String = `string`
echo Filter = `filter`

if string contain "`filter`"
	echo True
else
	echo F

[2022-09-14 04:23] ruthtxh commented on #1279
Hi @GarneshMike you can try the following:

[code]

[2022-09-14 06:08] GarneshMike commented on #1279
Hi @ruthtxh ,

It work like a charm. Thanks.

[2022-09-14 23:11] kensoh commented on #726
I think that is a limitation due to its human language syntax. Maybe you can try using JavaScript directly, something like:

[code]

Copying @ruthtoh who is maintaining TagUI project now..

[2022-09-18 12:15] YANLINGLOW opened #1280 "UNKNOWN ERROR - ILLEGAL OPTIONS"
<img width="554" alt="Screenshot 2022-09-18 at 8 14 34 PM" src="https://user-images.githubusercontent.com/113837492/190901573-485c42d0-61cf-49ae-a422-176d49a32137.png">

[2022-09-19 02:47] ruthtxh commented on #1280
Hi @YANLINGLOW

I think you are missing a space between -sf and your paths, try this:
[code]

[2022-09-24 12:29] YANLINGLOW commented on #1280
Hi Ruth,

Moving on to the next steps, it show the below:

***@***.*** ~ % sudo ln -sf /Users/pamela/Downloads/tagui/src/tagui /usr/local/bin/tagui

Password:

***@***.*** ~ % tagui /Users/pamela/Downloads/tagui/flows/samples/1_google.tag

/usr/local/bin/tagui: line 326: php: command not found

env: python: No such file or directory

could you help please?

thankyou

______________________________

[2022-10-04 10:28] evanpeng-life opened #1281 "if exist(..) is not executing as intended."
**code:**
`https://www.lowes.com
timeout 15

logged = exist('//*[@id="account-name" and not(contains(text(), "Sign In"))]')
echo `logged`

if exist('//*[@id="account-name" and not(contains(text(), "Sign In"))]')
    echo Signin
else
    echo Signout

if logged
    echo Signin
else
    echo Signout`

**printed log:**
https://www.lowes.com - Lowe’s Home Improvement

true
Signout
Signin

https://www.

[2022-10-06 05:28] petertsneg opened #1282 "Use Word Plug-in Some Error"
Word version : Word 2013

1.執行Update TagUI Error: (solved)
![wordPlugIn_updateError](https://user-images.githubusercontent.com/82127495/194221973-35fb945d-431d-43fb-9f32-1b5912a99b2c.png)
2.執行Live Mode Error: (solved)
![wordPlugIn_liveModeError](https://user-images.githubusercontent.com/82127495/194221980-15468e4e-6a45-40e5-8b4a-10f62c0686c8.png)
3.執行Run Error
![wordPlugIn_RunError](https://user-i

[2022-10-06 08:14] ruthtxh commented on #1281
Hi @EvanYiLi you can try the following
[code]

[2022-10-06 14:45] gauravgandhi1315 opened #1283 "Is it possible to integrate TagUI to some other testing framework?"
I am already using another testing framework to do end to end testing. Is it possible if I can integrate `TagUI` with my existing framework where I would be able to write tests in english language?

[2022-10-07 03:24] petertsneg commented on #1282
關於問題3,測試下列版本Word是可以正常執行,產出的.tag檔,也是UTF-8
Word 2007 : OK
Word 2010 : OK

[2022-10-10 08:42] EvanYiLi opened #1284 "dom document.querySelector(...).scrollIntoView() is not working"
dom document.querySelector(...).scrollIntoView() is executed, the page doesn't scroll, where am I wrong?
[code]

[2022-10-11 01:40] marcelocecin commented on #1284
hello, try this:
[code]

[2022-10-11 08:24] edmundchan1976 commented on #1204
Hi Ruth

Thank you for the advice. It works after I restart it. Why does this
happen? i am hoping for tagui use to be as stable as possible. Also, i
notice  (attached, circled in green) that there is document1, document2,
document3, etc..., that seems to be created previously. Is that the
cause of the error?

[image: restart.jpg]

On Sun, 10 Apr 2022 at 11:36, Ruth ***@***.***> wrote:

[2022-10-11 10:08] EvanYiLi commented on #1284
Thanks, this works fine

[2022-10-11 10:13] #1284 closed

[2022-10-12 02:18] git-chen513 opened #1285 "table保存表格数据，由于页面html嵌套，基于xpath定位表格失败 - try this"
hi，最近在使用table命令保存页面表格数据，遇到以下问题：
1、由于页面html嵌套，想要获取嵌套的html里的table xptah进行table定位失败
页面布局大致如下：
![problem](https://user-images.githubusercontent.com/61085694/195232759-d92069eb-037b-43d0-9127-ee4efb37fe57.png)

通过chrome f12，获取到的第一个table的xpath是：//*[@id="form1"]/div[4]/div[1]/table；
第二个table的xpath是：//*[@id="form1"]/table；然而第一个table正常保存了数据，但是第二个table提示not found
我排查之后就发现是html嵌套导致xpath路径不正确。

我按照官方文档下载了[Sel

[2022-10-13 02:41] ruthtxh commented on #1283
Hi @gauravgandhi1315 can you share more on how you intend to integrate TagUI with your other test framework?

[2022-10-13 02:43] gauravgandhi1315 commented on #1283
Suppose if I use selenium or playwright, can I integrate TagUI within the same framework?

[2022-10-13 03:11] ruthtxh commented on #1204
Hi @edmundchan1976 that should not be the cause of the error. But perhaps sometimes MS Word does not close files properly and requires a restart to terminate unwanted sessions.

[2022-10-13 03:17] ruthtxh commented on #1285
Hi @git-chen513 it seems like this table is nested inside an iframe.
![image](https://user-images.githubusercontent.com/40910744/195486702-8a9b3e7d-2b8e-40d1-b6bf-d942b267ad2a.png)

You can try:
[code]

here's an example:
[code]

[2022-10-13 03:44] ruthtxh commented on #1280
Hi @YANLINGLOW  we have users who experienced this same error and reported that installing python helped. Can you try and let us know?

[2022-10-13 03:46] ruthtxh commented on #1279
Closing this issue for now, feel free to reopen.

[2022-10-13 03:46] #1279 closed

[2022-10-14 01:29] petertsneg opened #1286 "How to pass a parameter in another TagUI flow"
main.tag
[code]
subTagui.tag
[code]
cmd run tagui flow
[code]

[2022-10-14 02:14] ruthtxh commented on #1286
Hi @petertsneg your child flow (subTagui.tag) can access all variables in the parent flow (main.tag).
So doing the following will do:
main.tag
[code]

subTagui.tag
[code]
Do make sure that your subflow is in the same folder as your parent flow if you want to use relative file path such as this.

[2022-10-14 02:17] ruthtxh commented on #1282
Hi @petertsneg then this seems like the cause is language settings causes the files to save as UTF8-BOM instead of UTF. What language setting are you using that is causing this? I am unable to replicate this error.

[2022-10-14 02:24] petertsneg commented on #1282
Hi @ruthtxh ,
language settings  Chinese (Traditional, Taiwan)
sorry for your troubles.

[2022-10-14 02:27] petertsneg commented on #1286
Hi @ruthtxh ,
test ok, thank~

[2022-10-14 03:07] #1286 closed

[2022-10-15 21:42] ronmoody commented on #485
Thank you Ken for your still-working fix on TagUI to automate photos taken
with our PTZ camera.

I come to you today with an unrelated request.

Can you give me a recommendation for an AI project - open source if
possible?

Here's the essence. I have an MSSQL database that has loads of church
information, but it's extremely hard to use; to get info in-to and out-of.
My goal is to remove blocks bet

[2022-10-16 21:37] kensoh commented on #485
Hi Ron, oh wow it has been ages! Glad to know that TagUI has been useful to your church-related process.

I've since left AI Singapore and now @ruthtoh has taken over the project. And I've moved to London, UK.

From your description, you can try out these 2 options below. Both of them feature integrations with MySQL and Twilio. And both are designed to be very user-friendly. I have not personally

[2022-10-17 03:37] yucongshub opened #1287 "通过xpath绝对路径无法定位到元素"
问题：运行tagui脚本的时候提示有些元素定位不了，于是通过live模式也进行了调试，发现仍然无法定位。测试过程如下：
1. 在F12开发者模式中找到需要定位的元素，如下：
![image](https://user-images.githubusercontent.com/62985119/196083392-df4a6c02-4546-4720-8016-2b47bc77682e.png)
2. 在live模式中尝试获取此元素内容，但提示找不到元素，如下：
![image](https://user-images.githubusercontent.com/62985119/196083934-e5535a2b-c119-4f72-aa31-c882a60c7236.png)
3. chrome engine 提示内容如下：
![image](https://user-images.g

[2022-10-17 03:49] gallex opened #1288 "Can I break out from a loop"
I want to break out from a loop when some condition match, is it possible?

[2022-10-17 10:28] petertsneg commented on #1288
[code]

[2022-10-18 01:18] petertsneg commented on #1282
Hi @ruthtxh ,
    What more information can I give you to help you replicate the problem?

[2022-10-18 01:50] git-chen513 commented on #1285
@ruthtxh ，非常感谢您的回复，我尝试了你的方法，但是依旧没有成功，不知道是否语法格式有误？我在官方文档中没有找到相类似的写法，以下是我的.tag文件截图和运行结果截图：
![image](https://user-images.githubusercontent.com/61085694/196316558-9d0ce502-3a03-465e-bb0b-8b0d1e91d168.png)

![image](https://user-images.githubusercontent.com/61085694/196316386-bf2d2140-da7f-4d3f-adda-7e95d1e3daa0.png)

[2022-10-18 03:28] ruthtxh commented on #1287
Hi @yucongshub can you share this webpage address so we can take a look?

Some of the possibilities are: maybe the element is nested in an iframe, or at runtime there is some other element that appears on the screen which changes the absolute XPath of the element you are finding.

[2022-10-18 03:35] ruthtxh commented on #1282
Hi @petertsneg yes seems like Traditional Taiwan language forces notepad to save in UTF BOM format. We are seeing if this can be handled from the Addin without breaking its current functionality.

Meanwhile you may continue using TagUI without the Addin, or with another language setting.

[2022-10-18 03:44] petertsneg commented on #1282
hi, @ruthtxh
Great, I hope the problem can be solved, thank you~

[2022-10-18 04:15] yucongshub commented on #1287
@ruthtxh 你好，我这边已经确认元素是在iframe中，最近站点有过修改，我这边先让网站管理员修改为非iframe方式，再进行测试后回复结果，谢谢。

[2022-10-18 05:03] lookang opened #1289 "Keyboard Paste automatically trim all the contents beginning space"
I've been using TagUI to do copy and pasting of website contents that contain tables of data. I would eventually copy this data into an Excel spreadsheet.

I find sometimes the table data will have a space at the beginning of the cell, and in order for the formulas to work I need to do a find [space] and replace with empty using TagUI.

I'm wondering if a new update can include this new feature, b

[2022-10-18 11:30] gallex commented on #1288
Thans

[2022-10-18 11:30] #1288 closed

[2022-10-18 11:46] gallex opened #1290 "I wan't to do some contribute, base on witch branch is best ?"
master or dev ?

[2022-10-18 15:49] gallex opened #1291 "hover/click does not real move mouse"
When use hover/click on a element, the function is OK, but I found the mouse position does not changed( synchronized with what in sikuliX) .

For example,  after hover/click a element,  then  use ```echo `mouse_xy()` ``` return value is not the element position.

[2022-10-18 17:00] marcelocecin commented on #1289
is possible to share the code ?

[2022-10-18 17:01] marcelocecin commented on #1291
can you share the code and attach some prints ?

[2022-10-19 04:23] gallex commented on #1291
I find the reason,  use some thin like this ``` hover xxxx.png``` instead of   ```hover [web/xpath]```。

first form use Vision/Sikuli  engine and second use Chrome  engine.

[2022-10-19 08:24] gallex opened #1292 "Can't find element in a frame"
when I use :
···
frame id_of_frame
     click xpath
[code]
frame id_of_frame
     live
[code]

[2022-10-19 14:11] lookang commented on #1289
click secondmarker.png
        wait 3
        click secondmarker.png
        //wait 2
        wait 2
        keyboard [down]
        //temp = []
        //temp = clipboard()
        clipboard() = del_chars(clipboard(), ' ')
        keyboard [cmd]v

i just introduced clipboard() = del_chars(clipboard(), ' ')
but there is an error now

wait 2
keyboard [down]
ERROR - left side of assignment is not a

[2022-10-19 17:38] marcelocecin commented on #1289
[code]

[2022-10-20 02:31] ruthtxh commented on #1289
Hi @lookang you can also use the del_chars() helper function, like this:

[code]

[2022-10-20 02:31] ruthtxh commented on #1290
Hi @gallex you can contribute to dev! Thanks.

[2022-10-20 02:33] ruthtxh commented on #1291
Hi @gallex can you check that your windows zoom is set to 100%?

[2022-10-20 02:35] ruthtxh commented on #1292
Hi @gallex you cannot use frame step in live mode, so I would assume the element is not nested within a frame? Another thing to check if XPath can be clicked in live mode but not at run time is to dock your chrome dev tools on a separate popup instead of docking to the side because sometimes when docking to the side, the responsiveness of the page causes the XPath of the element to change.

[2022-10-20 06:40] Mark110513 opened #1293 "中文乱码 - user's text editor issue"
Hi，遇到个问题，英文输入没有问题，中文会乱码
试过以下两种方式，情况都是一样的

1、clipboard + keyboard 方式：
saleName = "张三"
clipboard(saleName)
click //div[@prop="saleName"]//input[@class="ant-input"]
keyboard [ctrl]v

2、type as 方式
type //div[@prop="saleName"]//input[@class="ant-input"] as "张三"

![image](https://user-images.githubusercontent.com/98000952/196874086-98f70dcd-8d84-4f03-9eac-3fd1e3129182.png)

请问需要怎么解决中文乱码问题？

[2022-10-20 07:10] yucongshub commented on #1287
元素是在iframe页面中，问题已经解决

[2022-10-20 07:10] #1287 closed

[2022-10-21 01:18] gallex commented on #1292
Yes, I can't direct step in live mode, but if I add live directive after frame directive is seems OK, is it right ?.  I'm very sure the element is in  a frame ,  because I had try find that element in root,  it no exists yet.

[2022-10-21 04:28] kangyiwen commented on #1229
Hi 两位~

中文站上线半年了，目前流量情况是这样，比前阵子有点提升。目前加企交流群的已经超过100人
![image](https://user-images.githubusercontent.com/76672577/197111427-d75f089c-e515-41ef-b44e-5cf333f36623.png)
![image](https://user-images.githubusercontent.com/76672577/197111644-945f13d7-f389-4473-9b8c-826b424b611c.png)

目前遇到比较多的情况是：因为不是EXE安装的，造成很多小问题，希望可以升级一个版本EXE。

另外发现，其实很多 LINUX  和  mac用户，在找RPA产品。

[2022-10-21 10:45] EvanYiLi commented on #992
Hello tecso, I also encountered this problem. Can you tell me how you solved it? Thanks alot!

[2022-10-21 10:54] EvanYiLi opened #1294 "TagUI from docker container error launching Chrome"
I got the error as below.
`work@651766aebdf0:~$ tagui tagui/flows/samples/1_google.tag
/home/work/tagui/src/tagui: line 398:  1769 Trace/breakpoint trap   $chrome_command --user-data-dir="$TAGUI_DIR/chrome/tagui_user_profile" $chrome_switches $window_size $headless_switch $no_sandbox_switch > /dev/null 2>&1`

[2022-10-21 16:59] ronmoody commented on #485
Thank you for your insight as well as your suggestions. Would the same be
true of MSSQL, which is the database I'm trying to integrate?
ron

On Sun, Oct 16, 2022 at 11:37 AM Ken Soh ***@***.***> wrote:

[2022-10-22 01:01] kensoh commented on #485
Yes I believe all the above tools integrate with MySQL.

[2022-10-22 01:03] kensoh commented on #992
Tagging @agustin-tecso

[2022-10-22 01:09] kensoh commented on #1229
Thanks Yi Wen for sharing these updates! I recall that Ruth has previously packaged everything as .exe and provided that as an option to install for Windows. That seems to be removed, maybe for technical or strategic reasons. Maybe @ruthtxh could share more.

For the Python rpa package that I'm maintaining (actually not doing anything since it is quite stable), it is growing well and having good t

[2022-10-25 02:52] ruthtxh commented on #1293
Hi @Mark110513 I tried replicating this issue but I am able to output chinese characters for both type step and keyboard step. Can you share more on what is your pc language settings, and perhaps which text editor are you using for TagUI?

[2022-10-26 08:22] Mark110513 commented on #1293
OK了，tag脚本需要使用系统自带的notepad去编辑。
感谢！

[2022-10-26 09:51] Mark110513 commented on #1293
OK了，编辑器的问题
感谢！

[2022-10-27 02:15] #1293 closed

[2022-10-27 03:08] #1294 closed

[2022-10-28 02:36] dannyzuo commented on #515
use [visual automation mode](https://github.com/kelaberetiv/TagUI#visual-automation) to tell Chrome to export webpage as a PDF

[2022-10-29 16:39] KyleXYY opened #1295 "If the Excel file name includes Chinese, or the sheet name is Chinese. Tagui does not work."
run cmd /c chcp 65001
timeout 100
variable = [D:\测试.xlsx]测试!A:A
echo `variable[1]`

[2022-10-31 13:33] kangyiwen opened #1296 "建议官方整理 TagUI 的库文档"
@ruthtxh  @kensoh 很多用户在使用 TagUI 的过程中，会遇到各种各样的功能疑问，这个功能有没有，那个功能有没有。
TagUI 支持 JS 和 PY，功能肯定都能实现，但不知道怎么用。

其中有几个用户，放弃了TagUI 去学 Robocorp ，理由很简单，因为有更加完备的文档   [https://rpaframework.org/](url)

相比之下，TagUI 的文档简单了点，希望 TagUI 可以出一个类似 Robocorp 更加完整的文档，把功能和语法都列出来。
我认为，更加完备的文档，可能比功能迭代更重要。

[2022-11-01 02:26] ruthtxh commented on #1295
Hi @KyleXYY yes I can replicate this issue, there is no support for excel file name in Chinese for excel step. We will look into this.

[2022-11-01 02:27] ruthtxh commented on #1292
Hi @gallex the live step is independent of the frame step. Could you share the webpage or the html of page for us to take a look?

[2022-11-01 16:09] ruthtxh commented on #1282
Hi @petertsneg we have added the fix for this, please try it out and do let us know if there are any issues.
https://storage.googleapis.com/tagui-dependencies/TagUI%20WordAddIn/TagUIWordAddInSetupV3.16.zip

[2022-11-01 16:15] ruthtxh commented on #1296
Hi @kangyiwen thanks for the feedback, do you have some examples of steps that requires more detailed documentation? So we can understand what is lacking from the current documentation.

[2022-11-01 16:38] kangyiwen commented on #1296
例如 大家会需要 TagUI 对 Excel 的操作代码例子，比如下面这些对Excel的操作，对应到 TagUI 应该怎么办？
![image](https://user-images.githubusercontent.com/76672577/199287407-887df345-5279-422c-b051-a107b2c27e43.png)

[2022-11-01 16:40] kangyiwen commented on #1296
用户其实非常“懒”，TagUI 可以用  PY 或 JS 来处理Excel的动作，但大家就是希望有一个官方提供的详细文档，照抄就行；而不是再去各处搜索 PY 如何处理 Excel。

[2022-11-02 00:32] petertsneg commented on #1282
hi @ruthtxh
It's working fine , thank you~

[2022-11-02 00:33] #1282 closed

[2022-11-02 01:45] petertsneg opened #1297 "MS Word Addin Question"
hi @ruthtxh
try TagUI WordAddIn V3.16

[run_error.webm](https://user-images.githubusercontent.com/82127495/199374567-e16d6b13-4785-4c2a-89c3-2b3dddcb02e0.webm)

[2022-11-02 03:49] ruthtxh commented on #1297
Hi @petertsneg thanks for reporting this, we have added the fix [TagUI WordAddIn V3.17](https://storage.googleapis.com/tagui-dependencies/TagUI%20WordAddIn/TagUIWordAddInSetupV3.17.zip)

Link to issue #1282

[2022-11-02 04:05] petertsneg commented on #1297
Hi @ruthtxh
Test TagUI WordAddIn V3.17 OK .
Thanks for the quick reply.

[2022-11-02 04:05] #1297 closed

[2022-11-03 16:50] MiguelRadaza opened #1298 "Update fontawesome plugin to fontawesome 6"
fontawesome plugin is outdated, please update the frontawesome free to v6.2.0. Thank you! :)

[2022-11-03 16:50] #1298 closed

[2022-11-04 07:50] ruthtxh commented on #1296
Hi @kangyiwen not all the steps you see in this list can be applied to how TagUI's excel step works. For example, to write to excel, for TagUI we will use the [write syntax](https://tagui.readthedocs.io/en/latest/reference.html?highlight=excel#write) [workbook]sheet!cell = variable which will automatically create a new file and create a new sheet if it is not already there. However from what I see

[2022-11-06 11:19] kensoh commented on #1296
Also adding on, admittedly (I created the Excel integration) the TagUI Excel integration does not cover the large breadth of actions doable with Excel, but the most commonly used ones. The main reason is both to simplify API and also huge resources is needed to create Excel integrations. I coded the logic to integrate directly on Windows and Mac Excel without any dependency. Not sure if Robocorp E

[2022-11-06 17:10] kangyiwen commented on #1296
辛苦了，开源不容易。我是支持商业化的

[2022-11-06 17:10] #1296 closed

[2022-11-08 08:11] marcelocecin opened #1299 "fatal error [tagui] ACTION - read REGION"
[code]
[hs_err_pid28137.log](https://github.com/aisingapore/TagUI/files/9958991/hs_err_pid28137.log)

[2022-11-08 08:26] marcelocecin commented on #1299
same error using Sikulix
<img width="761" alt="" src="https://user-images.githubusercontent.com/2955762/200512766-fd3eb061-2512-46d5-9552-9c3838c8b86a.png">
<img width="584" alt="" src="https://user-images.githubusercontent.com/2955762/200512804-f3166f8b-3952-44f8-8b50-f34385903cd3.png">

[2022-11-08 16:26] raghuk9 commented on #694
Hi Kensoh,
Huge fan of Tagui here.
I have a script which I am able to execute through the terminal on a mac, but when I try to trigger it via Automator in Mac, I get the following exception
phantomjs://code/bootstrap.js:113 in __die
Unable to load script

[2022-11-09 01:49] kensoh commented on #694
This error normally happens if PHP is missing or not working properly. See if you can create script to run TagUI (text file with just `tagui some_flow.tag` and chmod to 755 to be able to run. Then use Automater to run that script. CC @ruthtoh

[2022-11-09 05:23] ruthtxh commented on #1299
Hi @marcelocecin can you share what is your use case and why reading to region does not work for you? You can try this:
[code]
https://tagui.readthedocs.io/en/latest/main_concepts.html?#region

[2022-11-09 07:29] kangyiwen opened #1300 "原高级API页面失效，请再给下例子"
https://aito.document360.io/docs/tagui

这个页面已经无法访问，希望再给一个高级API   用 POST  GET  的例子，谢谢。

[2022-11-09 08:24] marcelocecin commented on #1299
hi @ruthtxh, here we go:

**ocr.tag**
[code]

[2022-11-09 10:24] petertsneg opened #1301 "Can tagui support running on windows terminal server?"
Hi @ruthtxh ,

our Users environment
OS：Windows Server 2012 R2 64bits
Users connect to Terminal Server through RDP to operate.

Can tagui support running on windows terminal server?
Can multiple users execute at the same time?

sorry for your troubles.

[2022-11-09 10:35] petertsneg commented on #1300
@kangyiwen
https://www.youtube.com/watch?v=eFJp0hJYNxQ
這個是您需要的嗎?

[2022-11-09 11:56] kangyiwen commented on #1300
是的，谢谢！

----
康轶文
13816359064

peter ***@***.***> 于2022年11月9日周三 18:36写道：

[2022-11-10 00:32] petertsneg commented on #1295
Hi @KyleXYY , @ruthtxh
Traditional Chinese test is OK.
[code]
- Is it possible that the array index starts from 0
- Echo variables should be quoted

[2022-11-10 05:30] KyleXYY commented on #1295
Excel A:1 to A4:
#支付宝账务明细查询
#账号：[xxxxxxxxxxxxxxxxxxxxxx]
#起始日期：[2022年08月01日 00:00:00]   终止日期：[2022年09月01日 00:00:00]
#-----------------------------------------账务明细列表----------------------------------------

Without \\ in this editor,  \' miss

If no Chinese I will get the expected result aroud 10 minutes, otherwise output "undefine" about 3 seconds.

[2022-11-10 07:59] petertsneg commented on #1295
Hi @KyleXYY
have you tried this #1199

[2022-11-10 10:10] ruthtxh commented on #1299
Hi @marcelocecin I tested your code and I am unable to replicate the error (on Windows). I would suggest you to re-install TagUI again and see if error persists.

[2022-11-10 10:21] ruthtxh commented on #1301
Hi @petertsneg I have not tested it on windows server but it should be able to work. What do you mean by multiple users execute at the same time? If you refer to TagUI process, you can run one process at a time.

[2022-11-10 10:27] ruthtxh commented on #1299
Also, this portion of SikuliX code in your vision block might conflict with the code above it, and you may want to remove it when you test:
[code]

[2022-11-10 10:33] petertsneg commented on #1301
Hi @ruthtxh ,
What do you mean by multiple users execute at the same time?
Two users execute tagui simultaneously on windows terminal server.

I tested and found that a User's program will be stuck when executing another User's program.

[2022-11-11 11:13] KyleXYY commented on #1295
no yet, but I cannot change env to UTF8 since this Script must run at the default  windows env for Others.

[2022-11-11 20:48] luchogarcia opened #1302 "don't run flows on windows server 2019"
Hi, I am trying to run flows on a server with windows server 2019 but I get the following error:

Unable to open file: C:\tagui\flows\samples\1_google.tag.js

  phantomjs://code/bootstrap.js:113 in __die
Unable to load script C:\tagui\flows\samples\1_google.tag.js; check file syntax

  phantomjs://code/bootstrap.js:113 in __die

![image](https://user-images.githubusercontent.com/118021527/20142843

[2022-11-16 13:11] luchogarcia commented on #1302
Hi @ruthtxh php 8.1.12 is installed on my machine, i reinstall it and reinstall taghi but not found.
![image](https://user-images.githubusercontent.com/118021527/202189394-1d6365c6-0855-47e9-81f1-2aa0cbbddcf9.png)

![image](https://user-images.githubusercontent.com/118021527/202189266-b99d0baa-82d5-49a7-bc90-34d6c1ca23b6.png)

[2022-11-16 16:49] luchogarcia commented on #1302
Hi @ruthtxh the problem is solved reinstalling the visual c++ redistribute, thanks for your support!!!

[2022-11-16 16:49] #1302 closed

[2022-11-17 10:20] petertsneg commented on #1301
Hi @ruthtxh ,
Do I need to provide any other information?

[2022-11-17 13:11] ruthtxh commented on #1301
Hi @petertsneg from your video you are using the Word AddIn and the end_processes command is ran first before the start of each TagUI process, hence killing any existing run that is executed halfway. In summary, you can only run one at a time

[2022-11-22 03:47] evanpeng-life opened #1304 "if the xpath contains '. It won't work - try this"
like this, echo false
[code]

[2022-11-22 11:18] marcelocecin commented on #1304
[code]

[2022-11-22 13:26] ruthtxh commented on #1304
Hi @EvanYiLi the issue is most likely due to the quotes in your string. I'd suggest you use another way to identify the element, but if you really need to identify by text, you can try to search for the other parts of the string without the quotes. For e.g:

[code]

[2022-11-24 08:27] GarneshMike opened #1305 "TAGUI - unable to RUN external program"
Hi there,

I am trying to execute an external program with 2 parameters using RUN command but unfortunately its not executing.
Below is my test cases. Is there anything i missed out. Thanks in advance.

Test 1
run cmd /c C:\app\project\set_focus.exe --windows_name="Notepad" --windows_mode="restore"

Output
START - automation started - Thu Nov 24 2022 16:23:17 GMT+0800 (Malay Peninsula Standard Tim

[2022-11-24 09:24] GarneshMike commented on #1305
It works now. false positive.

[2022-11-24 09:24] #1305 closed

[2022-11-24 19:39] marcelocecin commented on #291
@MD-luffy I was able to use `html2canvas`, but it needs the [Automa](https://www.automa.site) extension installed in Chrome

[2022-11-25 08:30] GarneshMike opened #1306 "TagUI - RUN misbehave with parameters between double quote"
Hi there,

I'm running an external command with arguments using RUN function as below.
Command   : "C:\tagui\set_focus.exe"
Argument 1 : --windows_name="test file"
Argument 2 : --windows_mode="restore"

It seems the double quote does not have any impact on parsing the arguments.
Is there any workaround available. Thanks in advance.

//TagUI Script
run "C:\tagui\set_focus.exe" --windows_name="test

[2022-11-29 03:59] GarneshMike opened #1307 "TagUI - KEYBOARD for [SHIFT][DOWN] not working - try vision step"
Hi there,

The TagUI keyboard function is not executing SHIFT + DOWN key instead only DOWN key are being entered.

TagUI Script
keyboard [SHIFT][DOWN]

Thanks in advance.